HackatonTomcat/.settings/.jsdtscope
HackatonTomcat/.settings/org.eclipse.jdt.core.prefs
HackatonTomcat/.settings/org.eclipse.wst.common.component
HackatonTomcat/.settings/org.eclipse.wst.common.project.facet.core.xml
HackatonTomcat/.settings/org.eclipse.wst.jsdt.ui.superType.container
HackatonTomcat/.settings/org.eclipse.wst.jsdt.ui.superType.name
